
# Object files
*.o

# Compiled Binary
neko_installer
neko_installer_universal
#TARBALL OF BINARY
neko_installer.tar
downloader/downloader
# Editor Temporary Files
*~
*.swp
extra/neko-desktops
graphify-out
